
.headerContainer {
    width: 100%;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8FAFD;
}

.headerHamburger {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 4px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    box-shadow: none !important;
}
.headerHamburger:hover {
    background-color: rgb(225, 225, 225);
}

.headerSearchBar {
    height: 48px;
    border-radius: 100px;  
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #E9EEF6;
    box-shadow: none !important;
}

.searchBarInput {
    width: 700px;
    outline: none;
}

.searchBarIcons {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 5px;
    box-shadow: none !important;
}

.searchBarIcons:hover {
    background: #DCE1E8;
    cursor: pointer;
}

.optionIcon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 5px;
    box-shadow: none !important;
}

.dotGridIcon {
    width: 25px;
    height: 25px;
    padding: 5px;   
}

.optionIcon:hover {
    background: #DCE1E8;
    cursor: pointer;
}