.loginButton {
    width: 500px;
    height: 40px;
    border: solid rgb(156, 156, 156) 0.5px;
    border-radius: 5px;
    font-size: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.icon {
    width: 18px;
    height: 18px;
}

button {
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
button:active {
transform: translateY(2px);
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.loginButton:hover{
    cursor: pointer;
}